<html>
<head>
    <title>User Form</title>
</head>
<body>
    <table align="center">
        <form action="http://localhost:8080/data" method="post">
            <tr>
                <td>
                    <label>
                        Name
                    </label>
                </td>
                <td>
                    <input type="text" name="username" placeholder="Enter your name">
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Email
                    </label>
                </td>
                <td>
                    <input type="text" name="useremail" placeholder="enter your email">
                </td>

            </tr>
            <tr>
                <td>
                    <button><input type="submit" value="Submit"></button>
                </td>
            </tr>
        </form>
    </table>
</body>
</html>